@charset "utf-8";
@import url(//fonts.googleapis.com/css?family=Raleway:400,700);
@font-face {
  font-family: 'icomoon';
  src: url("assets/fonts/icomoon.woff") format("woff"),
  url("assets/fonts/icomoon.ttf") format("truetype"),
  url("assets/fonts/icomoon.eot") format("eot");
  font-weight: normal;
}

@media print {
  html, body {
    height: auto !important;
    min-height: 0 !important;
  }
  body {
    background-color: #fff !important;
  }
  page-header {
    display: none !important;
  }
  body {
    padding: 0 !important;
    margin: 0 !important;
  }
  div.container {
    padding: 0 !important;
    margin: 0 !important;
    width: auto !important;
    background-color: transparent !important;
  }
  main {
    padding: 0 !important;
    margin: 0 !important;
    min-height: 0 !important;
    width: auto !important;
    background-color: transparent !important;
  }
  .breathe {
    margin: 0 !important;
  }
  .content {
    margin: 0 !important;
    padding: 0 !important;
  }
}


div,
section,
nav,
aside,
main,
input {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}
