design-tips {
  .shadow {
    background-color: rgba(0, 0, 0, 0.35) !important;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 10;
  }

  .design-tip {
    position: absolute;
    background-color: #D0D2D3;
    border-top: 10px solid #3BB8AF;
    border-bottom: 10px solid #3BB8AF;
    color: #595050;
    padding: 0;
    width: 300px;
    box-shadow: 0 0 12px -1px #595050;
    z-index: 11;

    top: 150px;
    left: calc(50% - 150px);

    h1 {
      color: #3BB8AF;
      font-weight: 500;
    }

    .content {
      padding: 12px 20px;
    }

    img.full-width {
      width: 100%;
      height: auto;
    }

    @media (max-width: 800px) {
      top: 75px;
    }

    @media (max-width: 640px) {
      top: 10px;
    }

    img.placeholder {
      max-width: 45px;
    }

    &.open {
      animation: fade-in 0.3s ease;
      animation-fill-mode: forwards;
      -webkit-animation: fade-in 0.3s ease;
      -webkit-animation-fill-mode: forwards;
    }

    &.closed {
      animation: fade-out 0.3s ease;
      animation-fill-mode: forwards;
      -webkit-animation: fade-out 0.3s ease;
      -webkit-animation-fill-mode: forwards;
    }

    @keyframes fade-in {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @-webkit-keyframes fade-in {
      from { opacity: 0; }
      to { opacity: 1; }
    }

    @keyframes fade-out {
      from { opacity: 1; }
      to { opacity: 0; }
    }

    @-webkit-keyframes fade-out {
      from { opacity: 1; }
      to { opacity: 0; }
    }

    h2 {
      color: #595050;
    }

    button {
      color: #fff;
      background-color: #595050;
    }
  }
}
